<!-- BackupPage, http://nupter-cn.appspot.com/backup -->
{% extends "base.html" %}

{% block title %}BackUp - MobileSecure{% endblock title %}

{% block content %}
<p><strong><font color="#990000" size="+1">  备份 </font>手机中的数据到网页</strong></p>
<hr />
<p>请选择备份一个或多个类别的资料:</p>
<!-- our backup form -->
<form action="/cmd.do" method="get">
    <!-- contact checkbox -->
    <input name="contact" type="checkbox" value="Contact" />&nbsp;&nbsp;
    <img src="../static/images/contacts.gif" width="20" height="20" />&nbsp;通讯录
    <br />
    <!-- sms checkbox -->
    <input name="sms" type="checkbox" value="Sms" />&nbsp;&nbsp;
    <img src="../static/images/sms.gif" width="20" height="20" />&nbsp;短消息
    <br />
    <!-- calllog checkbox -->
    <input name="calllog" type="checkbox" value="Calllog" />&nbsp;&nbsp;
    <img src="../static/images/calllogs.gif" width="20" height="20" />&nbsp;通话记录
    <br /><br />
    <!-- backup submit -->
    <input name="backup" type="submit" value="Backup"/>
</form>
<hr />
<div>
<strong>声明：</strong>
我们将确保您的手机数据安全保密! 只有您可以查看这些数据.
</div>
{% endblock content %}