<!-- this is a template -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=GBK">
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <title>{% block title %}MobileSecure{% endblock title %}</title>
        {% block script %}{% endblock script %}
        {% block css %}{% endblock css %}
        <link href="../static/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body >
        <!-- 头部层 -->
        <div id="header">
            {% block header %}{% endblock header %}
            <table width="1000" height="100" border="0" align="center">
			<tr>
				<td height="70" colspan="3" align="center" valign="middle" background="../static/images/header.jpg">
				<div align="center">
					<h2>手机信息安全管理平台</h2>
                    <!-- 效率比较：[http://nupter-cn.appspot.com]和[/] -->
					<a href="/">返回主页</a>
				</div>
				</td>
			</tr>
            </table>
        </div>
        <!-- 中间层 -->
        <div id="body">
            <!-- 侧边栏层 -->
            <div id="cebanner">
                <table width="202" height="70" border="0" >
                <tr>
					<td id="ce-normal1" ><h3>远程服务</h3></td>
                </tr>
                <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/lock.jpg" width="20" height="20" /> <a href="/lock" >锁定</a></h4></td>
                </tr>
                <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/backup_big.gif" width="20" height="20" /> <a href="/backup" >备份</a></h4></td>
                </tr>
                            <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/wipe_big.gif" width="20" height="20" /> <a href="/wipe" >删除</a></h4></td>
                </tr>
				</table>
				<table width="202" height="70" border="0" >
                <tr>
					<td id="ce-normal1"><h3>手机数据</h3></td>
                </tr>
                <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/contacts.gif" width="20" height="20" /> <a href="/contact" >通讯录</a></h4></td>
                </tr>
                <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/sms.gif" width="20" height="20" /> <a href="/sms" >短消息</a></h4></td>
                </tr>
                <tr>
					<td id="ce-normal2" onmouseover="this.style.background='#DEE2EE'" onmouseout="this.style.background=''"><h4><img src="../static/images/calllogs.gif" width="20" height="20" /> <a href="/calllog" >通话记录</a></h4></td>
                </tr>
				</table>
			</div>
            <!-- 内容层 -->
            <div id="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!-- 底部层 -->
        <div id="footer">
            {% block footer %}{% endblock footer%}
			<div align="center"><a href="mailto:wangqin.xuemei@gmail.com" > 联系我们</a></div>
        </div>
    </body>
</html>
