<!-- display Contacts, http://nupter-cn.appspot.com/calllogs -->
{% extends "base.html" %}
  
{% block title %}Calllogs - MobileSecure{% endblock title %}

{% block content %}
<p><strong>加载您的<font color="#990000" size="+1"> 通话记录 </font>到网页</strong></p>
<hr />
<p><strong>您的通话记录为：</strong></p>
<table border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
    <thead>
        <tr bgcolor="#FFFFFF">
            <th align="center" id="content-head" scope="col">通话人</th>
            <th align="center" id="content-head" scope="col">手机号</th>
            <th align="center" id="content-head" scope="col">呼叫类型</th>
            <th align="center" id="content-head" scope="col">呼叫时间</th>
            <th align="center" id="content-head" scope="col">通话时间(s)</th>
        </tr>
    </thead>
    <tbody >
        {% for calllog in calllogs %}
        <tr bgcolor="#FFFFFF">
            <td align="center" id="content-td1">{{ calllog.name }}</td>
            <td align="center" id="content-td2">{{ calllog.number }}</td>
            <td align="center" id="content-td2">{{ calllog.type }}</td>
            <td align="center" id="content-td2">{{ calllog.date }}</td>
            <td align="center" id="content-td2">{{ calllog.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
{% endblock content %}