{% extends "base.html" %}

{% block title %}Cmd - MobileSecure{% endblock title %}

{% block script %}
<script type="text/javascript" src="../static/javascript/finish.js"></script>
{% endblock script %}

{% block css %}
<link href="../static/css/cmd.css" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
<p>
    <strong>您刚刚生成的<font color="#990000" size="+1"> 指令 </font>为</strong>
</p>
<hr />
<p>请将这条指令发送到您的注册手机上：</p>
<p><font color="#990000" size="+1">{{ strEncode }}</font></p>
<hr />
<div>
    <strong>查看效果：</strong>
    <p>当您发送完成后，请点击下面的链接查看执行效果：</p>
    <!-- <a id="url" href="{{ url }}">点击查看</a> -->
    <!-- isCmdFinish()中放{{ url }}是否有效??感觉没效果啊 -->

    <!-- <input type="button" value="点击查看" onClick="isCmdFinish( {{url}} )" > -->
    <input type="button" value="点击查看" onClick="isCmdFinish()">

    <input id="input_url" type="hidden" name="url" value="{{ url }}"">
    <!-- <input id="strURL" type="hidden" name="{{ url }}"> -->

    <p id="wait_pic"></p>
    <!-- <table id="wait_pic" border="0"></table> -->

    <p id="isFinished"></p>
</div>
{% endblock content %}