body {
	width: 1000px; 
    margin: 0 auto;}
	
/* 头的样式 ****************************************/

#header a {	
	text-decoration: none;
	color: #333333; }
#header a:hover { color: #888; }


/* 侧边栏层的样式 ****************************************/
#cebanner {
	width: 202px;
	height: 125px;
	float: left; }

#ce-normal1 {
	padding: 0;
	width: 202px;
	height: 25px;
	text-align: center;
    line-height:25px;
	background-color:#C6C6C6; }

#ce-normal2 {
	padding: 0;
	width: 202px;
	height: 15px;
	text-align: center;
	line-height:15px;
	background-color:#D9D9D9; }

#ce-normal2 a {
	text-decoration: none;
	color: #333333; }
#ce-normal2 a:hover { color: #888; }

/* 内容层的样式 ****************************************/
#content {
	width: 780px;
	float: right; }

#content-head {
    width: 250px;
	height: 40px;
	text-align: center;
	line-height: 40px; }

#content-td1 {
    width: 250px;
	height: 35px;
	text-align: center;
	line-height: 35px; }

#content-td2 {
    width: 400px;
	height: 35px;
	text-align: center;
	line-height: 35px; }


/* 底层的样式 ****************************************/
#footer {
	width: 1000px;
	margin-right: 85px;
	margin-top: 535px; }

#footer a { text-decoration: none ;
    color:#000000; }